Source: libfb303
Section: unknown
Priority: extra
Maintainer: Pradeep Jindal <praddy@unknown>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: libfb303
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
